@page
@model ParkNet.Pages.Prices.TariffsTickets.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TariffTicket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TariffTicket.Type" class="control-label"></label>
                <select asp-for="TariffTicket.Type" class="form-control">
                    <option value="">Select a type of vehicle</option>
                    <option value="Car">Car</option>
                    <option value="Motorcycle">Motorcycle</option>
                </select>
                <span asp-validation-for="TariffTicket.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TariffTicket.Time" class="control-label"></label>
                <input asp-for="TariffTicket.Time" class="form-control" />
                <span asp-validation-for="TariffTicket.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TariffTicket.Price" class="control-label"></label>
                <input asp-for="TariffTicket.Price" class="form-control" />
                <span asp-validation-for="TariffTicket.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
