@page
@model ParkNet.Pages.Profile.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer.Email" class="control-label"></label>
                <input asp-for="Customer.Email" class="form-control" />
                <span asp-validation-for="Customer.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Name" class="control-label"></label>
                <input asp-for="Customer.Name" class="form-control" />
                <span asp-validation-for="Customer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.BirthDate" class="control-label"></label>
                <input asp-for="Customer.BirthDate" class="form-control" />
                <span asp-validation-for="Customer.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.VatNumber" class="control-label"></label>
                <input asp-for="Customer.VatNumber" class="form-control" />
                <span asp-validation-for="Customer.VatNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.DriversLicenseNumber" class="control-label"></label>
                <input asp-for="Customer.DriversLicenseNumber" class="form-control" />
                <span asp-validation-for="Customer.DriversLicenseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.DriversLicenseExpDate" class="control-label"></label>
                <input asp-for="Customer.DriversLicenseExpDate" class="form-control" />
                <span asp-validation-for="Customer.DriversLicenseExpDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.City" class="control-label"></label>
                <input asp-for="Customer.City" class="form-control" />
                <span asp-validation-for="Customer.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Country" class="control-label"></label>
                <input asp-for="Customer.Country" class="form-control" />
                <span asp-validation-for="Customer.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CountryCode" class="control-label"></label>
                <input asp-for="Customer.CountryCode" class="form-control" />
                <span asp-validation-for="Customer.CountryCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.PhoneNumber" class="control-label"></label>
                <input asp-for="Customer.PhoneNumber" class="form-control" />
                <span asp-validation-for="Customer.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.PaymentMethod" class="control-label"></label>
                <select asp-for="Customer.PaymentMethod" class="form-control">
                    <option value="">Selecione um método de pagamento</option>
                    <option value="Paypal">Paypal</option>
                    <option value="DebitCard">Debit Card</option>
                    <option value="CreditCard">Credit Card</option>
                </select>
                <span asp-validation-for="Customer.PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.PaymentData" class="control-label"></label>
                <input asp-for="Customer.PaymentData" class="form-control" />
                <span asp-validation-for="Customer.PaymentData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
