@page
@model ParkNet.Pages.Parks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<html>
<head>
    <style>
        h1 {
            text-align: center;
        }
        .image-container {
            text-align: center;
            margin-top: 50px;
        }

        .project-link {
            display: inline-block;
            margin: 20px;
            text-align: center;
            text-decoration: none;
            color: #000;
        }
    </style>
</head>
<body>
    <h1>Our Parks</h1>
    <br />
    <div class="image-container">
        <a class="project-link" asp-area="" asp-page="/Parks/Guimaraes/Index">
            <img src="https://media-cdn.tripadvisor.com/media/photo-c/768x250/0e/4f/a2/80/add-photos-of.jpg" alt="Imagem 1" style="width:300px;height:200px;">
            <p>Gimarães</p>
        </a>
        <a class="project-link" asp-area="" asp-page="/Parks/Braga/Index">
            <img src="https://www.remessaonline.com.br/blog/wp-content/uploads/2023/09/braga-portugal-1170x780.jpg.optimal.jpg" alt="Imagem 2" style="width:300px;height:200px;">
            <p>Braga</p>
        </a>
        <a class="project-link" asp-area="" asp-page="/Parks/Famalicao/Index">
            <img src="https://www.impulsiveaddiction.com/wp-content/uploads/2022/02/visitar-famalicao.jpg" alt="Imagem 3" style="width:300px;height:200px;">
            <p>Vila Nova de Famalicão</p>
        </a>
    </div>
</body>
</html>