@page
@model ParkNet.Pages.Vehicles.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Vehicle</h1>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Vehicle.Id" />
            <div class="form-group">
                <label asp-for="Vehicle.Type" class="control-label"></label>
                <input asp-for="Vehicle.Type" class="form-control" />
                <span asp-validation-for="Vehicle.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.LicensePlate" class="control-label"></label>
                <input asp-for="Vehicle.LicensePlate" class="form-control" />
                <span asp-validation-for="Vehicle.LicensePlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.Brand" class="control-label"></label>
                <input asp-for="Vehicle.Brand" class="form-control" />
                <span asp-validation-for="Vehicle.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.Model" class="control-label"></label>
                <input asp-for="Vehicle.Model" class="form-control" />
                <span asp-validation-for="Vehicle.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.Color" class="control-label"></label>
                <input asp-for="Vehicle.Color" class="form-control" />
                <span asp-validation-for="Vehicle.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.Year" class="control-label"></label>
                <input asp-for="Vehicle.Year" class="form-control" />
                <span asp-validation-for="Vehicle.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">List of Vehicles</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
