@page
@model ParkNet.Pages.Prices.TariffsPermits.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TariffPermit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TariffPermit.VehicleType" class="control-label"></label>
                <select asp-for="TariffPermit.VehicleType" class="form-control">
                    <option value=""></option>
                    <option value="Car">Car</option>
                    <option value="Motorcycle">Motorcycle</option>
                </select>
                <span asp-validation-for="TariffPermit.VehicleType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TariffPermit.PermitType" class="control-label"></label>
                <select asp-for="TariffPermit.PermitType" class="form-control">
                    <option value=""></option>
                    <option value="Yearly">Yearly</option>
                    <option value="Biannualy">Biannualy</option>
                    <option value="Quarterly">Quarterly</option>
                    <option value="Monthly">Monthly</option>
                </select>
                <span asp-validation-for="TariffPermit.PermitType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TariffPermit.Price" class="control-label"></label>
                <input asp-for="TariffPermit.Price" class="form-control" />
                <span asp-validation-for="TariffPermit.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
