@page
@model ParkNet.Pages.Prices.TariffsPermits.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TariffPermit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TariffPermit.Id" />
            <div class="form-group">
                <label asp-for="TariffPermit.VehicleType" class="control-label"></label>
                <input asp-for="TariffPermit.VehicleType" class="form-control" />
                <span asp-validation-for="TariffPermit.VehicleType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TariffPermit.Yearly" class="control-label"></label>
                <input asp-for="TariffPermit.Yearly" class="form-control" />
                <span asp-validation-for="TariffPermit.Yearly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TariffPermit.Biannualy" class="control-label"></label>
                <input asp-for="TariffPermit.Biannualy" class="form-control" />
                <span asp-validation-for="TariffPermit.Biannualy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TariffPermit.Quarterly" class="control-label"></label>
                <input asp-for="TariffPermit.Quarterly" class="form-control" />
                <span asp-validation-for="TariffPermit.Quarterly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TariffPermit.Monthly" class="control-label"></label>
                <input asp-for="TariffPermit.Monthly" class="form-control" />
                <span asp-validation-for="TariffPermit.Monthly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
