@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #gif {
            display: block;
            margin: auto;
            width: 100%;
        }
    </style>
</head>
<div class="text-center">
    <h1 class="display-4">Welcome to ParkNet</h1>
    <p>Your Parking Solution With Digital Management</p>
    <br />
    <img src="https://www.washingtonpost.com/blogs/wonkblog/files/2016/06/0614_ParkingLot_SS.gif" alt="ParkingGif" id="gif">
</div>